@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<CasaDoCodigo.Models.Livro>

<div class="jumbotron">
    <h1>Livraria 36</h1>
    <p>Os melhores livros de tecnologia do Brasil!</p>
</div>


<div class="row">

    @foreach (var livro in Model)
    {
        <div class="col-6 col-sm-6 col-lg-4">
            <h4>@livro.Titulo</h4>
            <p>
                
                <a href="@Url.Action("livro", "loja", new { id = livro.Id })" class="block clearfix">
                    <img src="~/Content/Imagens/medium_@livro.Imagem" alt="@livro.TituloCurto" title="@livro.TituloCurto">
                </a>
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Action("livro", "loja", new { id = livro.Id })">
                    Saiba
                    mais »
                </a>
            </p>
        </div>
    }
</div>

